@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

/* 青海波文様設定 */
.DocumentContainer,
.Pane-content {
    --color-A: #f8f8f4;
    --color-B: #f4f4f0;
}

.Pane-header,
.AppHeader {
    --color-A: #646E78;
    --color-B: #505564;
    color: #fff !important;
}

.AppHeader-icon,
.Pane-headerToolbarItem {
    color: #fff !important;
}

.DocumentContainer,
.Pane-content,
.Pane-header,
.AppHeader {
    background-image:
        radial-gradient(circle at 100% 150%, var(--color-B) 24%, var(--color-A) 24%, var(--color-A) 28%, var(--color-B) 28%, var(--color-B) 36%, var(--color-A) 36%, var(--color-A) 40%, transparent 40%, transparent),
        radial-gradient(circle at 0 150%, var(--color-B) 24%, var(--color-A) 24%, var(--color-A) 28%, var(--color-B) 28%, var(--color-B) 36%, var(--color-A) 36%, var(--color-A) 40%, transparent 40%, transparent),
        radial-gradient(circle at 50% 100%, var(--color-A) 10%, var(--color-B) 10%, var(--color-B) 23%, var(--color-A) 23%, var(--color-A) 30%, var(--color-B) 30%, var(--color-B) 43%, var(--color-A) 43%, var(--color-A) 50%, var(--color-B) 50%, var(--color-B) 63%, var(--color-A) 63%, var(--color-A) 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, var(--color-A) 5%, var(--color-B) 5%, var(--color-B) 15%, var(--color-A) 15%, var(--color-A) 20%, var(--color-B) 20%, var(--color-B) 29%, var(--color-A) 29%, var(--color-A) 34%, var(--color-B) 34%, var(--color-B) 44%, var(--color-A) 44%, var(--color-A) 49%, transparent 49%, transparent),
        radial-gradient(circle at 0 50%, var(--color-A) 5%, var(--color-B) 5%, var(--color-B) 15%, var(--color-A) 15%, var(--color-A) 20%, var(--color-B) 20%, var(--color-B) 29%, var(--color-A) 29%, var(--color-A) 34%, var(--color-B) 34%, var(--color-B) 44%, var(--color-A) 44%, var(--color-A) 49%, transparent 49%, transparent) !important;
    background-size: 128px 64px !important;
}

.Node.is-currentRoot {
    background-color: #fff;
    padding: 10px;
}

/* フォント */
* {
    font-family: "UD デジタル 教科書体 NK-R", "MotoyaLMaru W3 mono", "Roboto", Helvetica, Arial, "Hiragino Sans", sans-serif;
}

.katex .mathdefault,
.mop:not(.op-symbol.small-op),
.mop:not(.op-symbol.small-op) span:not(.op-symbol.small-op),
.mord {
    font-family: KaTeX_Math, "IPA明朝" !important;
}

.is-smallFont .Node-contentContainer {
    font-size: 0.8rem !important;
}

.is-smallFont .node-line {
    line-height: 16px !important;
    min-height: 16px !important;
}

.is-smallFont .Node-self.is-heading {
    font-size: 1rem !important;
}

.Document-rootNode.u-use-pref-font>div>div.Node-self.is-noteEmpty.is-parent.is-hidingNote.is-contentRendered.is-noteRendered>div.node-line.Node-contentContainer>div.Node-renderedContent.node-line>span {
    font-size: initial !important;
}

.node-inline-item,
.is-smallFont .Node-contentContainer .node-inline-code {
    font-size: 14px !important;
}

/* ヘッダー */
.DocumentTools {
    top: -34px;
    right: 38px;
}

.is-desktop .AppHeader {
    height: 26px;
}

.AppHeader-syncStatus {
    top: 2px;
    bottom: unset;
    overflow-y: hidden;
}

.AppHeader-icon {
    font-size: 16px;
    top: 1px;
}

/* メインエディタ関連 */
.Node.is-currentRoot,
.DocumentTools-overlay {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.Node.is-currentRoot>.Node-children {
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
    padding-left: 44px;
    /* overflowによって各項目メニューが見えなくなることへの対処 */
}

.Document {
    margin-bottom: 0px !important;
    width: 100vw;
    padding: 0 20px;
}

.is-desktop .Document-rootNode {
    padding: 0 20px;
}

.CurrentLineHighlight {
    background: none;
}

.DocumentBreadcrumb {
    padding-top: 10px;
    min-height: 30px;
    overflow-x: auto;
}

/* 下部およびバックリンク関連 */
.Document-bottomSpace {
    display: none;
}

.Node-children .node-backlink-counter {
    display: none;
}

.Node-children .node-line-strict.has-backlink-count .node-icon {
    left: 44px;
}

.Node.is-currentRoot>.Node-self {
    .node-backlink-counter {
        top: 2px;
        left: 24px;
        display: none;
    }

    &.is-parent .node-backlink-counter {
        display: block;
        position: fixed;
        top: unset;
        bottom: 12px;
        left: calc(20vw - 80px);
    }
}

.document-backlinks-container {
    .is-desktop & {
        margin: 10px 40px;
        padding: 0 10px;
        max-height: 60vh;
        overflow-y: auto;
        display: block;
        position: fixed;
        max-width: 50vw;
        width: 55vw;
        bottom: 10px;
    }

    &:not(:hover) {
        border-top-width: 3px;

        .search-ui-summary,
        .search-ui-results {
            display: none;
        }
    }

    &:hover {
        display: block;
        position: fixed;
        z-index: 100;
        bottom: 0;
        width: 76%;
        background-color: #fff;
        border-top: unset;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
}

.flat-search-breadcrumb {
    border-top: solid 1px gray;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0.05);
}

.flat-search-breadcrumb-item {
    font-size: 70%;
}

/* Font Awesome準備 */
.is-smallFont .Node-self .Node-contentContainer {

    .node-line::before,
    span::before,
    span::after,
    :focus-visible::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 0.8rem;
        margin-left: -12px;
        margin-right: 2px;
    }
}

/* Headingにアイコン設定 */
.Node-contentContainer :is(.node-line, :focus-visible)::before {
    .Node-self.is-heading1 & {
        content: ' \f3c5';
        color: #ed6d3d;
    }

    .Node-self.is-heading2 & {
        content: ' \f3c5';
        color: #6495ED;
    }

    .Node-self.is-heading3 & {
        content: ' \f3c5';
        color: #7CC28E;
    }
}

/* Color設定変更 */
.has-color {
    width: calc(100% - 34px);
}

.mod-color-label-1 {
    background-color: unset !important;
    color: rgb(226, 69, 69);
    font-weight: bold;

    & span:first-child::before {
        content: ' \f06a';
        color: rgb(226, 69, 69);
    }
}

.mod-color-label-2 {
    background-color: unset !important;
    border: #7CC28E dashed 1px;
    padding: 2px;

    & span:first-child::before {
        content: '\f46c';
        color: #7CC28E;
        font-size: 0.7rem !important;
        padding-left: 11px;
        vertical-align: 1px;
    }
}

.mod-color-label-3 {
    background-color: #444 !important;
    color: #fff;
    border-radius: 0;
    padding: 3px;
    margin: -3px 0;
}

.mod-color-label-4 {
    background-color: unset !important;
    color: #7CC28E;
    font-weight: bold;

    & span:first-child::before {
        content: ' \f0a4';
        color: #7CC28E;
    }
}

.mod-color-label-5 {
    background-color: #6495ED0A !important;
    border: 1px solid #6495ED;
    padding: 4px;

    & span:first-child::before {
        content: ' \f10d';
        color: #6495ED;
        font-size: 0.5rem !important;
        padding-left: 9px;
    }

    & span:last-child::after {
        content: ' \f10e';
        color: #6495ED;
        font-size: 0.5rem !important;
        padding-left: 9px;
    }
}

.mod-color-label-6 {
    background-color: unset !important;
    color: #7967c3;

    & span:first-child::before {
        content: ' \f05a';
        color: #7967c3;
    }
}

span.node-highlight span:is(::before, ::after) {
    display: none !important;
}

/* バレット調整 */
.Node-bullet:before {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.1);
    content: '┠';

    .is-parent.is-collapsed & {
        content: '▶' !important;
    }
}

/* ページリンク */
.node-inline-item {
    display: inline;
    border: unset;
    background-color: unset;
    color: #384d98;
    font-weight: bold;
    margin-left: -1.9px;
    text-overflow: unset !important;
    white-space: normal !important;

    &:before {
        display: none;
    }

    &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding-right: 4px;
        display: inline-block;
    }

    &:not(.node-inline-image)::after {
        content: ' \f3e5';
        font-size: 0.6rem;
        margin-left: 0px;
    }

    &.node-inline-image::after {
        content: ' \f03e';
        font-size: 0.8rem;
        margin-left: -6px;
    }
}

/* 外部リンク */
.node-line a:not(.node-tag) {
    &:not([href^="https://dynalist.io"]) {
        color: #be1e3e;

        &::after {
            font-family: 'Font Awesome 5 Free';
            content: ' \f360';
            font-weight: 900;
            font-size: 0.6rem;
            padding-right: 5px;
            margin-left: -4px;
        }
    }

    &[href^="https://twitter.com/"] {
        color: #6495ED;

        &::after {
            content: ' \f4ba';
            margin-left: -5px;
        }
    }
}

/* タグ */
.node-tag {
    text-decoration-line: none;
    color: #4B4;

    &::after {
        font-family: 'Font Awesome 5 Free';
        content: ' \f02c';
        font-weight: 900;
        font-size: 0.6rem;
        margin-left: -4px;
        display: inline-block;
    }

    &[title*="@20"] {
        text-decoration-line: none;
        color: #8344bb;

        &::after {
            content: '';
            margin-right: 2px;
        }
    }
}

/* ノート部分 */
.Node-renderedNote {
    color: #bbb;
    font-size: 11px;

    &:before {
        content: '🖋 ';
    }
}

/* フォルダ・ファイル一覧 */
.DocumentItem-icon:before,
.FolderItem-icon:before {
    display: none;
}

.pane-item-icon {
    display: none;
}

.pane-item-header {
    font-size: 14px;
    padding: 0 26px;
}

.FolderItem-header {
    color: #995d1f;
    font-weight: bold;

    &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 0.8rem;
        margin-left: 3px;
        display: inline-block;
    }

    &:not(.is-collapsed)::after {
        content: ' \f07c';
    }

    &.is-collapsed::after {
        content: ' \f07b';
    }
}

.pane-item-header.is-archived::after {
    font-family: 'Font Awesome 5 Free';
    content: ' \f187';
    font-weight: 900;
    font-size: 0.6rem;
    vertical-align: 1px;
    margin-left: 2px;
    display: inline-block;
}

/* Headerにホットキーのメモ表示 */
.header-sync-state::before {
    content: '最上部へ：Ctrl+Home　最下部へ：Ctrl+End　下位項目の開閉：Ctrl+Shift+.';
    display: block;
    margin-right: 20px;
    color: #fff;
    position: fixed;
    text-align: right;
    top: 0;
    right: 150px;
    margin-top: 5px;
}

/* 縮小表示時の設定 */
@media screen and (max-width: 768px) {
    .Node.is-currentRoot {
        width: 91vw;
        margin-left: -50px;
    }

    .Node-children {
        padding-left: 6px;
    }

    .Node-bullet:before {
        margin-left: 4px;
    }

    .node-icon {
        padding: 0;
    }

    .Node-self {
        padding-left: 80px;
    }

    .is-currentRoot>.is-parent {
        padding-left: 100px
    }

    .header-sync-state::before {
        display: none;
    }
}
