@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+Rounded+1c");
* { 
    font-family: "UD デジタル 教科書体 NK-B", "MotoyaLMaru W3 mono", "Kosugi Maru", "Roboto",Helvetica,Arial,"Hiragino Sans",sans-serif;
}
.divPagetopTitle {
    font-size: 50px;
}
.divDayTitle {
    font-size: 24px;
    background-color: gray;
    padding: 4px;
}
.divDayTitle a {
    color: white;
    opacity: 1;
}
.divTitledItem .divTitle {
    font-size: 20px;
    border-left: 4px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 5px;
    margin-bottom: 6px;
}
.divTitledItem ul li {
    font-size: 14px;
    margin-bottom: 2px;
}

.divStoryPageTitle {
    font-size: 24px;
    letter-spacing: -1px;
}

.divTitledItem .divTitle a {
    text-decoration: none;
    border: none;
    cursor: normal;
    pointer-events: none;
}

.divPagetopImage {
    background-image: unset !important;
    background-color: gray;
    height: 150px
    
}
.divPagetopText {
    top: 20px;
    left: unset;
    height: 100px;
    width: 100%;
    padding: unset;
}
.divPageBody {
    margin-top: 180px;
    width: 70vw;
}

ul.ulBulletedSubs {
    margin-left: 16px !important;
}
ul, ol{
    margin-left: 16px; 
}
.ulBulletedSubs li {
    list-style-type: disc;
}

.divToggleConnect, .divVersionNumber{
    display: none;
}
.spTwitterComment, .spPermaLink {
    display: none;
}

@media screen and (max-width: 768px) {
    .divPagetopTitle {
        font-size: 40px;
    }
    .divPageBody {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .divDayContainer {
        padding: 30px 20px;
    }
}

